body {
    display: grid;
    place-items: center;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: hsl(47, 88%, 63%);
}

.container { 
    margin: 3rem auto;
    background-color: hsl(0, 0%, 100%);
    padding: 1.2rem;
    height: 565px;
    width: 384px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px black;
    color: hsl(0, 0%, 7%);    
    font-family: "Figtree", sans-serif;
    /* line-height: 20px; */
}

.heading {
  font-family: "Figtree", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 800;  
  font-family: 24px;
  margin-top: .7rem;
  margin-bottom: 1rem;
}




.hero {
    display: block; 
    border-radius: 10px;
    place-self: center;
    width: 100%;
}

.yellow-bg {
       
    background-color: hsl(47, 88%, 63%);    
    border-radius: 4px; 
    padding: 6px; 
    width: 70px;
    
}

.published-date {
    font-size: 14px;
    font-weight: 500;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.content {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
}

.avatar {   
    display: flex;
    align-items: center; 
}

.avatar h4{   
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}

@media screen and (max-width: 500px) {

    .container {
        width: 80%;
        margin: 2rem auto;
    }
    
    .hero img {
        width: 100%;
    }
}